.promcard {
  margin: 5px;
  padding: 50px;
  text-align: center;
  background-color: rgb(165, 106, 38);
  width: 500px;
  border: 2px solid black;
  border-radius: 10px;
  font: 3em sans-serif;
}

.proms {
  margin: 5px;
  padding: 50px;
  text-align: center;
  background-color: rgb(165, 106, 38);
  width: 500px;
  border: 2px solid black;
  border-radius: 10px;
  font: 2em sans-serif;
}
