

.promcard {
  margin: 100px 50px;
  padding: 25px;
  align-items: center;
  background-color: whitesmoke;
  width: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  width:250px;
  height:250px;
  display: flex;
  flex-direction: column;
   justify-content: space-between;
}

.proms {
  width: 200px;
  height: 200px;
  
  border-radius: 50%;
  
}

#promo-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  outline: none;
  padding: 55px;
  margin: 20px 10px;
  font-size: medium;
  border-radius: 5px;
  align-items: flex-start;
}

.promo-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width:40vw;
  padding: 100px 50px;
  
}