#detail-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  outline: none;
  padding: 30px;
  margin: 5px;
  font-size: medium;
  border: 1px solid lightgray;
  border-radius: 5px;
  align-items: flex-start;
}

.activity-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width:40vw;
}