.card {
  margin: 25px;
  padding: 25px;
  text-align: center;
  background-color: whitesmoke;
  width: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  /* height:100px; */
  width:250px;
  height:400px;
  display: flex;
  flex-direction: column;
   justify-content: space-between;
}

/* .activtiy-card {
  display: flex;
  flex-direction: column;
   justify-content: space-between;
} */

.card--img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid limegreen;
}