.card {
  /* margin: 50px;
  padding: 25px;
  align-items: center;
  background-color: whitesmoke;
  width: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  width:250px;
  height:250px;
  display: flex;
  flex-direction: column;
   justify-content: space-between; */
   margin: 50px;
   padding: 25px;
   align-items: center;
   background-color: cornsilk;
   width: 10px;
   border: 1px solid;
   border-radius: 5px;
   width: 250px;
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-size: larger;
   font-family: fantasy;
   font-weight: 900;
   color: sienna;
}

.card--img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid limegreen;
}