
div #profile {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    width: fit-content;
}

.profile-sidebar{
  display: flex;
  flex-direction:column;
}

.profile-buttons{
  margin-left: 35px;

}