.profile-card{
  margin: 5px;
  padding: 25px;
  text-align: center;
  background-color: whitesmoke;
  width: 100px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.profile--img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid limegreen;
}